<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<servlet>
		<servlet-name>Simple</servlet-name>
		<servlet-class>com.tritowntim.simple.SimpleServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Other</servlet-name>
		<servlet-class>com.tritowntim.simple.OtherServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Coffee</servlet-name>
		<servlet-class>com.tritowntim.simple.CoffeeServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Redirector</servlet-name>
		<servlet-class>com.tritowntim.simple.RedirectorServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>InitParam</servlet-name>
		<servlet-class>com.tritowntim.simple.InitParamServlet</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>tritowntim@gmail.com</param-value>
		</init-param>
		<init-param>
			<param-name>developer</param-name>
			<param-value>Tim D</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Simple</servlet-name>
		<url-pattern>/typical</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Other</servlet-name>
		<url-pattern>/weird</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Coffee</servlet-name>
		<url-pattern>/order-coffee</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Redirector</servlet-name>
		<url-pattern>/redirector</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>InitParam</servlet-name>
		<url-pattern>/initparam</url-pattern>
	</servlet-mapping>

</web-app>